
div {
    overflow: inherit;
}
a{
    text-decoration: none;
    font-size: 100%;
    white-space: normal;
}
button{
    font-size: 110%;
    min-width: min-content;
}
.example-icon {
    padding: 0 14px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-sidenav-content{
      font-size: 200%;
      text-align: center;
  }
  .mat-toolbar.mat-primary {
    background: #32a2c3;
    color: #fff;
}