<div>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a mat-button class="companyName" routerLink="/dashboard">
            <span>GalleryApp</span>
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </a>
        </div>
        <mat-menu #menu [overlapTrigger]="false">
            <button mat-menu-item routerLink="/myAccount">
                <mat-icon>face</mat-icon>
                <label>Profile</label>
            </button>

            <button mat-menu-item (click)="authService.SignOut()">
                <mat-icon>exit_to_app</mat-icon>
                <label>Logout</label>
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a mat-button routerLink="/myAccount">
                    <mat-icon>account_circle</mat-icon>
                </a>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>