<div class="w3ls-login box box--big">
    <!-- form starts here -->
    <form action="#" method="post">
        <h1 class="register">Sign In</h1>
        <div class="agile-field-txt">
            <label>
                <i class="fa fa-user" aria-hidden="true"></i>
                Username
            </label>
            <input type="text" name="name" placeholder=" " required="" #userName required />
        </div>
        <div class="w3ls-bot">
            <input type="submit" value="Log In" (click)="authService.SignIn(userName.value, this.security)">
        </div>
    </form>
    <div class="redirectToLogin">
        <span>Not registered yet?
            <span class="redirect" routerLink="/signUp">Register</span></span>
    </div>
</div>