body{
    background-color: aliceblue;
}
.example-card{
    // width: 30%;
    margin-top: 5px;
    margin: 20px;

}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    display: block;
    margin-bottom: 0;
}

.likedColor{
    color:red;
}

#btn{
    float: right;
}

#E5zoGQjZeSxws0iaFV37{
    text-align: center;
}
.imageCard{
    display: flex; flex-direction: row; justify-content: center; background-color: aliceblue;
}

@media only screen and (max-width: 600px) {
    .imageCard{
        display: contents;
        flex-direction: row;
    }
}
