<app-nav></app-nav>

<div class="imageCard">
    <mat-card class="example-card">
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/gallery-app-8284d.appspot.com/o/40121378._SY475_.jpg?alt=media&token=ff84cb18-80ef-4441-aa5a-6d3859bb2d65"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p style="text-align: center;">
                Author Name - James Clear
            </p>

            <!-- FCSDFDSF = {{like1 | json}} -->
        </mat-card-content>
        <mat-card-actions>

            <button mat-button (click)=" likessss()" [name]="heartType">{{(like.length > 0) ? 'Liked' : 'Like'}}
                {{likeLength}}
            </button>
            <!-- && like.length ==0 -->
            <button id="btn" mat-button (click)=" dislikessss()" [name]="heartType">{{(dislike.length > 0 ) ? 'Disliked'
                :
                'Dislike'}} <span style="width: 5px;"></span> {{dislikeLength}}
            </button>

            <!-- <button id="btn" mat-button (click)="dislikeEt(event, post)" [name]="heartType">
                    {{post.isDisliked
                    ? 'Disliked' : 'Dislike'}}</button><br> -->
            <!-- <span id="btn">Dislikes{{post.Dislikes.length}}</span> -->
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/gallery-app-8284d.appspot.com/o/51T8OXMiB5L._SX356_BO1%2C204%2C203%2C200_.jpg?alt=media&token=d376b8f6-da55-436b-a4e7-eefb7c88dc35"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p style="text-align: center;">
                Author Name - James Clear
            </p>

            <!-- FCSDFDSF = {{like1 | json}} -->
        </mat-card-content>
        <mat-card-actions>

            <button mat-button (click)=" likessss1()" [name]="heartType">{{(like1.length > 0) ? 'Liked' : 'Like'}}
                {{like1Length}}
            </button>
            <button id="btn" mat-button (click)=" dislikessss1()" [name]="heartType">{{(dislike1.length > 0) ?
                'Disliked' :
                'Dislike'}}
                {{dislikeLength}}
            </button>

            <!-- <button id="btn" mat-button (click)="dislikeEt(event, post)" [name]="heartType">
                    {{post.isDisliked
                    ? 'Disliked' : 'Dislike'}}</button><br> -->
            <!-- <span id="btn">Dislikes{{post.Dislikes.length}}</span> -->
        </mat-card-actions>
    </mat-card>

</div>

<div class="imageCard"
    style="display: flex; flex-direction: row; justify-content: center; background-color: aliceblue;">
    <mat-card class="example-card">
        <img mat-card-image
            src="https://firebasestorage.googleapis.com/v0/b/gallery-app-8284d.appspot.com/o/41tVDuvZXPS._SX311_BO1%2C204%2C203%2C200_.jpg?alt=media&token=c72a1e70-a070-4bb0-b357-4070bee0678d"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p style="text-align: center;">
                Author Name - James Clear
            </p>

            <!-- FCSDFDSF = {{like1 | json}} -->
        </mat-card-content>
        <mat-card-actions>

            <button mat-button (click)=" likessss2()" [name]="heartType">{{(like2.length > 0) ? 'Liked' : 'Like'}}
                {{like2Length}}
            </button>
            <button id="btn" mat-button (click)=" dislikessss2()" [name]="heartType">{{(dislike2.length > 0) ?
                'Disliked' :
                'Dislike'}}
                {{dislikeLength}}
            </button>

            <!-- <button id="btn" mat-button (click)="dislikeEt(event, post)" [name]="heartType">
                    {{post.isDisliked
                    ? 'Disliked' : 'Dislike'}}</button><br> -->
            <!-- <span id="btn">Dislikes{{post.Dislikes.length}}</span> -->
        </mat-card-actions>
    </mat-card>
</div>