a {
    text-decoration: none;
}
.txt-rt {
    text-align: right;
}
.txt-lt {
    text-align: left;
}
.txt-center {
    text-align: center;
}
.float-rt {
    float: right;
}
.float-lt {
    float: left;
}
.pos-relative {
    position: relative;
}
.pos-absolute {
    position: absolute;
}
.vertical-base {
    vertical-align: baseline;
}
.vertical-top {
    vertical-align: top;
}
nav.vertical ul li {
    display: block;
}
nav.horizontal ul li {
    display: inline-block;
}
form{
    margin-top: 70px;
    margin-bottom: 70px;
}
.w3ls-login {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
}
.register{
    text-align: center;
    width: 100%;
    font-size: revert !important;
    color: aliceblue;
}
.redirectToLogin {
    padding: 15px 0 0;
    text-align: end;
    font-size: 14px;
    font-weight: 400;
    display: block;
    color: rgb(0 0 0 / 60%);
    width: 500px;
    margin-top: -85px;
    margin-bottom: 70px;
    // margin-right: 150px;
}
.redirectToLogin .redirect {
    cursor: pointer;
    color: #00ba9d;
    text-decoration: underline;
    font-weight: 500;
}
.w3ls-login form {
    position: relative;
    max-width: 500px;
    margin: 0 5vw;
    padding: 3.5vw;
    border: none;
    background: linear-gradient(135deg, #00ba9d 54%, #ffffff 45%);
    // background: linear-gradient(43deg, #ffffff 44%, #00ba9d 42%);
    background: -webkit-linear-gradient(43deg, #ffffff 44%, #00ba9d 42%);
    background: -moz-linear-gradient(43deg, #ffffff 44%, #00ba9d 42%);
    background: -o-linear-gradient(43deg, #ffffff 44%, #00ba9d 42%);
    box-sizing: border-box;
    display: flex;
    border-top: 8px solid #fff;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 70px;
}
.w3ls-login label {
    font-size: 15px;
    color: #000;
    float: left;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}
.agile-field-txt {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    margin-bottom: 1.5em;
    clear: both;
}
.w3ls-login label i {
    font-size: 1.1em;
    margin-right: 3px;
    color: #363af4;
}
.w3ls-login input[type="text"],
.w3ls-login input[type="password"] {
    width: 100%;
    color: #000;
    outline: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    /* line-height: 25px; */
    padding: 15px;
    box-sizing: border-box;
    border: none;
    box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.49);
    -webkit-appearance: none;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}
.check1 {
    text-align: left;
}
label.check {
    float: none;
    ;
}
.agile_label {
    float: left;
    margin: 10px 0 0;
}
.agile-right {
    float: right;
    margin: 10px 0 0;
}
.agile-right a {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.w3ls-login.w3l-sub {
    margin-top: 1em;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}
.w3ls-login input[type=submit] {
    color: #00ba9d;
    font-weight: 600;
    width: 100%;
    padding: 0.5em 0;
    margin-top: 2em;
    font-size: 1.1em;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    border: 5px double #00ba9d;
    outline: none;
    background: #000;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.w3ls-login input[type=submit]:hover {
    background: #ffffff;
    color: #000;
}
.w3ls-bot {
    margin-top: 1em;
    width: 100%;
}
label.switch {
    position: relative;
    display: inline-block;
    height: 23px;
    padding-left: 3.8em;
    cursor: pointer;
    color: #000;
}
li:nth-child(2) a,
label.switch {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    width: 20%;
    // background-color: #777;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #fff;
    border-radius: 10px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 5px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    background-color: #363af4;
}
input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
.slider.round:before {
    border-radius: 50%;
}
.form-end {
    float: right;
    width: 35%;
}
/*--responsive--*/

@media(max-width:1920px) {
    h1 {
        font-size: 3.5vw;
    }
}
@media(max-width:1024px) {
    h1 {
        font-size: 4.5vw;
    }
}
@media(max-width:800px) {
    h1 {
        font-size: 5vw;
    }
    .w3ls-login h1 {
        width: 14%;
        left: 42%;
    }
    .register {
        width: 100% !important;
        left: 0 !important;
    }
    .redirectToLogin {
        text-align: center;
    }
    .w3ls-login form {
        margin-top: 20px;
    }
}
@media(max-width:480px) {
    h1 {
        font-size: 2.5em;
    }
    .w3ls-login form {
        padding: 7.5vw;
    }
}
@media(max-width:414px) {
    .w3ls-login h1 {
        top: -8%;
    }
}
@media(max-width:440px) {
    h1 {
        font-size: 2.3em;
    }
    .parent {
        display: block;
    }
}
@media(max-width:384px) {
    .agile_label,.agile-right {
        float: none;
    }
}
@media(max-width:320px) {
    h1 {
        font-size: 1.8em;
    }
    .w3ls-login form {
        padding: 25px 8px;
    }
}
