<div class="w3ls-login box box--big">
    <form action="#" method="post">
        <h1 class="register">Register User</h1>
        <div class="agile-field-txt">
            <label>
                <i class="fa fa-user" aria-hidden="true"></i>
                Username
            </label>
            <input type="text" name="name" placeholder=" " required="" #userEmail required />
        </div>
        <div class="w3ls-bot">
            <input type="submit" value="SignUp" (click)="authService.SignUp(userEmail.value, this.security)">
            <div class="col s12 m6 offset-m3 center-align" style="margin-top:7px" (click)="authService.GoogleAuth()">
                <a class="oauth-container btn darken-4 white black-text" (click)="authService.GoogleAuth()"
                    style="text-transform:none">
                    <div class="left">
                        <img width="20px" style="margin-right:8px" alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    </div>
                    Login with Google
                </a>
            </div>
        </div>
    </form>
    <div class="redirectToLogin">
        <span>Already have an account?
            <span class="redirect" routerLink="">Log In</span></span>
    </div>
</div>